*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
   
}

/* Heder section  */

/* Navbar  */

header {
        border: 1px solid red;
        background-color: #1A0B2E;

}

nav {
    /* border: 1px solid rebeccapurple; */
    margin: 20px 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.nav-menu{
    display: flex;
    gap: 32px;
}

.nav-btn button {
background: linear-gradient(to right, #f9d423, #ff4e50, #8e44ad);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 4px;
padding: 12px 16px 12px 16px;
border-radius: 25px;}

.nav-span {
    background: linear-gradient(to right, #ff8a71, #f441a5, #d900ff);
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Hero section  */

.hero-section {
    height: 760px ;
    border-top: 1px solid rgba(71, 70, 70, 0.521);
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;


}

.hero-content{
   justify-content: center;
   align-items: center;
   text-align: center;
   padding:101px;
}

.hero-imgs {
    width: 350px;
    height: 350px;
    margin: auto;
   /* border: 1px solid yellow; */
   align-items: center;
   justify-content: center;
   position: relative;
   margin-bottom: 40px;
}

.mic-img-container{
    width: 100%;
    position: absolute;
    top: 25%;
}

.new {
    width: 75px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00FF88;
    color: black;
    border-radius: 25px;
    position: absolute;
    top: 2%;
    right: 7%;
}


.hero-text h1 {
 width: 900;
 font-size: 3.75rem;
}

.hero-text p {
 font-size: 1rem;
 color: #FFFFFF;
 margin-top: 8px;
 margin-bottom: 24px;
}

 .hero-btn-1 {
    padding: 12px 20px;
    border-radius: 25px;
    background: linear-gradient(to right, #f9d423, #ff4e50, #8e44ad);
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero-btn-1 img {
   margin-right: 8px;
}

.hero-btn-2{
    background: none;
    border: 1px solid rgb(21, 109, 21);
    padding: 12px 20px;
    border-radius: 25px;
    color: #00FF88;
    font-weight: 600;
    align-items: center;
    text-align: center;
}

.hero-btn-2 img {
    margin-right: 8px;
}

.hero-btn{
    display: flex;
}



/* About section  */
.about-section{
    background: #1A0B2E;
    height: 648px;
    border: 1px solid green;
    padding-bottom: 120px;
    padding-top: 50px;

}
.about-text{
    border: 1px solid goldenrod;
    width: 1200px;
    height: 223px;
    /* margin-bottom: 60px; */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.about-taitle{
    font-size: 3rem;
    margin-bottom: 16px;
    border: 1px solid red;

}


.about-p1{
    border: 1px solid gold;
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 25px;
    font-weight: 400;
    margin: 0px auto;
}

.about-hr{
    width: 1200px;
    opacity: 0.1;
    margin: 80px auto;

}

.about-cards{
    width: 1200px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    /* text-align: center;  */
    justify-content: center;
    gap: 80px; 
    border: 1px solid ghostwhite;

}



.about-card h1 {
    color: #00FF88;
    width: 900;
    font-size: 3rem;
    margin-bottom: 16px;
}

.about-card p {
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 20px;
    font-weight: 400;
}

 /* choose section  */

 .choose-section {
    border: 1px solid gold;
    background-color: #230E3D;
    height: 1121px;
 }

.choose-taitle {
    width: 1200px;
    margin-top: 120px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    text-align: center;
    width: 800;
    font-size: 3rem;
}

.choose-device{
    width: 1200px;
    height: 783px;
    margin: 0px auto;
    border: 1px solid greenyellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 , 237px);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.choose-card {
    border: 1px solid tomato;
}

.choose-card-1{
    background-color: #3511656b;
    padding: 128px 40px;
    border: 1px solid rgb(21, 109, 21);
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-radius: 40px;
}

.choose-card-2{
    background-color: #3511656b;
    padding: 47px;
    border: 1px solid tomato;
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-radius: 40px;
}
.choose-card-3{
    background-color: #3511656b;
    border: 1px solid tomato;
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 47px;
    border-radius: 40px;
}
.choose-card-4{
    background-color: #3511656b;
    border: 1px solid tomato;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 35px;
    border-radius: 40px;
}
.choose-card-5{
    background-color: #3511656b;
    border: 1px solid tomato; display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 38px;
    border-radius: 40px;
}

/* feature section  */
.feature-section {
    background-color: #230E3D;
}

.feature-title{
    border: 1px solid gold;
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px; 
}
.feature-cards {
    width: 1200px;
    height: 440px;
    border: 1px solid tomato; 
    margin: 0px auto;
    display: flex;
    gap: 30px;
}

.feature-card{
    border: 1px solid red;
    width: 380px;
    height: 440px;
    border-radius: 25px;
    background: #250D44 rgba(37, 13, 68, 1);
    overflow: hidden;
}


.feature-card-text{
    width: 380px;
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
}

.feature-card-text h3 {
    font-size: 1.5rem;
    width: 700;
    margin-bottom: 12px;
}

.f-card-p{
    color: rgba(245, 222, 179, 0.616);
    margin-bottom: 12px;
}
 
.time {
    display: flex;
    gap: 10px;
}

/* host content  */
.host-content{
    border: 1px solid gold;
    width: 1200px;
    height: 380px;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    
   
}
.host-title{
   margin-top: 2px;
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-size: 48px;
    font-weight: 700;
    line-height: 58px;  
}

.host-object {
    height: 280px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    background: #533C72;


}

.host-text{
    width: 898px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.host-contact-card {
   
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.host-box {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(184, 166, 166, 0.212);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    
}

.host-p {
    color: rgba(255, 255, 255, 0.589);
    font-weight: 400;
    line-height: 24px;
}
