*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
   
}

/* Heder section  */

/* Navbar  */

nav {
    border: 1px solid rebeccapurple;
    background-color: rgba(65, 37, 103, 1);
    margin: 20px 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.nav-menu{
    display: flex;
    gap: 32px;
}

.nav-btn button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 4px;
padding: 12px 16px 12px 16px;
}

/* Hero section  */

.hero-section {
    width: 1200px;
    height: 600px;
    background-image: url(assets/hero-bg.png);
}
