*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
    color: white;
   
}

/* Heder section  */

/* Navbar  */

header {
        /* border: 1px solid red; */
        background-color: #1A0B2E;

}

nav {
    /* border: 1px solid rebeccapurple; */
    margin: 20px 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
 nav>span{
    display: none;
 }

.nav-menu{
    display: flex;
    gap: 32px;
}

.nav-btn button {
background: linear-gradient(to right, #f9d423, #ff4e50, #8e44ad);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 4px;
padding: 12px 16px 12px 16px;
border-radius: 25px;}

.nav-btn button:hover {
    background: linear-gradient(to right, #eeeeea, #f7f3f3, #eeebeb);
}

.nav-span {
    background: linear-gradient(to right, #ff8a71, #f441a5, #d900ff);
    -webkit-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Hero section  */

.hero-m{
    display: none;
}

.hero-section {
    height: 760px ;
    border-top: 1px solid rgba(71, 70, 70, 0.521);
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content{
   justify-content: center;
   align-items: center;
   text-align: center;
   padding:101px;
}

.hero-imgs {
    width: 350px;
    height: 350px;
    margin: auto;
   /* border: 1px solid yellow; */
   align-items: center;
   justify-content: center;
   position: relative;
   margin-bottom: 40px;
}

.mic-img-container{
    width: 100%;
    position: absolute;
    top: 25%;
}

.new {
    width: 75px;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00FF88;
    color: black;
    border-radius: 25px;
    position: absolute;
    top: 2%;
    right: 7%;
    animation-name: new;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
    @keyframes new {
        from {
            background: #00FF88;
            width: 75px;
            width: 37px;
        }
        to {
            background: #33ff00;
            width: 80px;
            height: 40px;
        }
    }


.hero-text h1 {
 width: 900;
 font-size: 3.75rem;
}

.hero-text p {
 font-size: 1rem;
 color: #FFFFFF;
 margin-top: 8px;
 margin-bottom: 24px;
}

 .hero-btn-1 {
    padding: 12px 20px;
    border-radius: 25px;
    background: linear-gradient(to right, #f9d423, #ff4e50, #8e44ad);
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.hero-btn-1 img {
   margin-right: 8px;
}

.hero-btn-2{
    background: none;
     border: 1px solid rgb(21, 109, 21); 
    padding: 12px 20px;
    border-radius: 25px;
    color: #00FF88;
    font-weight: 600;
    align-items: center;
    text-align: center;
}

.hero-btn-2 img {
    margin-right: 8px;
}

.hero-btn{
    display: flex;
}
.hero-btn-1:hover {
    background: linear-gradient(to right, #807c7c, #928c8cc4, #575458);
 }
.hero-btn-2:hover {
    background-color: #f441a5;
 }


/* About section  */
.about-section{
    background: #1A0B2E;
    height: 648px;
    padding-bottom: 120px;
    padding-top: 50px;

}

.about-text{
    /* border: 1px solid goldenrod; */
    width: 1200px;
    height: 223px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.about-taitle{
    font-size: 3rem;
    margin-bottom: 16px;
    /* border: 1px solid red; */

}


.about-p1{
    /* border: 1px solid gold; */
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 25px;
    font-weight: 400;
    margin: 0px auto;
    
}

.about-hr{
    width: 1200px;
    opacity: 0.1;
    margin: 80px auto;

}

.about-cards{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    gap: 80px; 
    text-align: center;
    /* border: 1px solid ghostwhite; */

}



.about-card h1 {
    color: #00FF88;
    width: 900;
    font-size: 3rem;
    margin-bottom: 16px;
}

.about-card p {
    color: #FFFFFF;
    opacity: 0.8;
    line-height: 20px;
    font-weight: 400;
}

 /* choose section  */

 .choose-section {
    /* border: 1px solid gold; */
    background-color: #230E3D;
    height: 1121px;
    margin-top: 0px;
 }

.choose-taitle {
    width: 1200px;
    padding-top: 120px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    text-align: center;
    width: 800;
    font-size: 3rem;
}

.choose-device{
    width: 1200px;
    height: 783px;
    margin: 0px auto;
    /* border: 1px solid greenyellow; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 , 237px);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* .choose-card {
    /* border: 1px solid tomato; */


.choose-card-1{
    background-color: #3511656b;
    padding: 128px 40px;
    /* border: 1px solid rgb(21, 109, 21);  */
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-radius: 40px;
}

.choose-card-2{
    background-color: #3511656b;
    padding: 47px;
    /* border: 1px solid tomato; */
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-radius: 40px;
}
.choose-card-3{
    background-color: #3511656b;
    /* border: 1px solid tomato; */
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 47px;
    border-radius: 40px;
}
.choose-card-4{
    background-color: #3511656b;
    /* border: 1px solid tomato; */
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 35px;
    border-radius: 40px;
}
.choose-card-5{
    background-color: #3511656b;
    /* border: 1px solid tomato; display: flex; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 38px;
    border-radius: 40px;
}

/* feature section  */
.feature-section {
    background-color: #230E3D;
}

.feature-title{
    /* border: 1px solid gold; */
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px; 
}
.feature-cards {
    
    width: 1200px;
    height: 440px;
     /* border: 1px solid tomato;   */
    margin: 0px auto;
    display: flex;
    gap: 30px;
}

.feature-card{
    /* border: 1px solid red; */
    width: 380px;
    height: 440px;
    border-radius: 25px;
    background-color: #3511656b;
    overflow: hidden;
}


.feature-card-text{
    width: 380px;
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
}

.feature-card-text h3 {
    font-size: 1.5rem;
    width: 700;
    margin-bottom: 12px;
}

.f-card-p{
    color: rgba(245, 222, 179, 0.616);
    margin-bottom: 12px;
}
 
.time {
    display: flex;
    gap: 10px;
}

/* host content  */
.host-content{
    /* border: 1px solid gold; */
    width: 1200px;
    height: 380px;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    
   
}
.host-title{
   margin-top: 2px;
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-size: 48px;
    font-weight: 700;
    line-height: 58px;  
}

.host-object {
    height: 280px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    background-color: #3511656b;


}

.host-text{
    width: 898px;
    height: 183px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.host-contact-card {
   
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.host-box {
    width: 40px;
    height: 40px;
    /* border: 1px solid rgba(184, 166, 166, 0.212); */
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    
}

.host-p {
    color: rgba(255, 255, 255, 0.589);
    font-weight: 400;
    line-height: 24px;
}



/* footer section  */


.footer-section {
    background-color: #1A0B2E;
    height: 412px;
    background: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 133px;
}


.footer-content{
    /* border: 1px solid darkgreen; */
    width: 1200px;
    height: 172px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.footer-cards {
    width: 544px;
    /* border: 1px solid tomato; */
    display: flex;
    justify-content: center; 
    gap: 40px;
    margin-top: 32px;
    margin-bottom: 50px; 
    margin-left: auto;
    margin-right: auto;

}
.footer-card{
    display: flex;
    gap: 8px;
}

.footer-card p {

    color: rgba(255, 255, 255, 0.575);
}

.copyright{
    
    color: rgba(255, 255, 255, 0.575);
}

.footer-cards>br {
    display: none;
}


















/* device mobile  */

@media screen and (max-width:576px){
    nav {
    margin: 20px 20px; 
    text-align: center;
    align-items: center;
    justify-content: space-between;
    }
    .nav-btn button,.nav-menu {
        display: none;
    }
    nav>span{
        display: inline;
        
        margin-left: 260px; 
    }

    .hero-section {
    width: 440px;
    height: 466px;
    /* border: 1px solid red; */
    border-top: 1px solid rgba(71, 70, 70, 0.521);
    background-image: url(assets/hero-m-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto;
    }
    
    .hero-content{
    width:400px;
    height: 386px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px;
    }
    
    .hero-imgs {
    display: none;
    }

    .hero-m{
        display: inline;
        border: 1p solid red;
    }


    .m-o img {
        height: 120px;
        width: 120px;
        position: relative;
    }

     .m-o{
        margin-top: 60px;
        margin-left: 15px;
     }
    .m-mic {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 28%;
        right: 47.5%;
    }

    .new-m {
        width: 70px;
        height: 35px;
        position: absolute;
        background-color: #00FF88;
        border-radius: 25px;
        top: 22%;
        right: 36%;
        color: black;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        animation-name: m-new;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .hero-text{

        margin-top: 24px;
        margin-bottom: 24px;
    
    }

     @keyframes m-new {
        from {
            background: #00FF88;
            width: 75px;
            width: 37px;
        }
        to {
            background: #33ff00;
            width: 80px;
            height: 40px;
        }
    }




    /* about  */
    .about-section{
    background: #1A0B2E;
    height: 575px;
    /* border: 1px solid green; */
    }

    .about-text{
    /* border: 1px solid goldenrod;  */
    width: 400px;
    height: 207px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    }

    .about-taitle{
    font-size: 2rem;
    }


    .about-p1{
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px auto; 
    }

     .about-p1>br{
        display: none;
     }
     .about-hr{
    width: 400px;
    opacity: 0.1;
    margin: 40px auto;
     }

    .about-cards{
    width: 400px;
    height:208px ;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    justify-content: center;
    gap: 30px; 
     /* border: 1px solid ghostwhite;  */

    }
    
    .about-card h1 {
    color: #00FF88;
    font-size: 2.7rem;
    }

    .about-card p {
    color: #FFFFFF;
    opacity: 0.8;
    }
   
    /* choose  */

     .choose-section {
    /* border: 1px solid gold;  */
    background-color: #230E3D;
    width: 480px;
    height: 1455px;
    height: 1450px; 
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;  
    }

    .choose-taitle {
    width: 400px;
    height: 49px ;
    padding-top: 40px;
    /* padding-bottom: 40px; */
    padding-left: 20px;
    padding-right: 20px;
     /* border: 1px solid red;  */
    text-align: center;
    font-size: 2rem;
    }

    .choose-device{
        width: 400px; 
        height: 1455px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 60px;
        
       

    }

.choose-card-1{
    width: 400px;
    height: 280px;
    background-color: #3511656b;
    padding: 24px;
    
}

.choose-card-2{
    width: 400px;
    height: 215px;
    background-color: #3511656b;
    padding: 24px;
    
}
 
.choose-card-3{
    width: 400px;
    height: 215px;
    background-color: #3511656b;
    padding: 24px;
   
}
.choose-card-4{
    width: 400px;
    height: 268px;
    background-color: #3511656b;
    padding: 24px;

}
.choose-card-5{
    width: 400px;
    height: 210px;
    background-color: #3511656b;
    padding: 24px;
   
}

    /* feature  */

    .feature-title{
    /* border: 1px solid gold; */
    width: 400px;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    }

    .feature-cards {
    
    width: 400px;
    height: 1187px;
     /* border: 1px solid tomato;   */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

    .feature-card{
    /* border: 1px solid red; */
    width: 400px;
    height: 393px;
    border-radius: 25px;
    background-color: #3511656b;
    overflow: hidden;
    }

    .feature-card-text{
    width: 400px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    }




    /* host content  */

    .host-content{
    /* border: 1px solid gold; */
    width: 400px;
    height: 586px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    }

    .host-title{
    margin-top: 10px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    }

    .host-object {
    height: 470px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
    background: #3511656b;
    }
    

    .host-text{
    width: 352px;
    height: 269px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    /* gap: 16px; */
}

.host-contact-card {
   
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-img{
    width: 150px;
    height: 150px;
}
    .host-img img {
    width: 150px;
    height: 150px;
    }

.host-box {
    width: 40px;
    height: 40px;
    /* border: 1px solid rgba(184, 166, 166, 0.212); */
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    
}


 /* footer  */
    
.footer-section {
    background: none;
    width: 400px;
    height: 248px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid gold; */
    background: url(assets/m-bg.png);
    padding-top: 80px;
   
}


.footer-content{
    /* border: 1px solid darkgreen;  */
    width: 100%;
    height: 100%;
}


.footer-cards {
    width: 255px;
    height: 64px;
    /* border: 1px solid tomato; */
    font-size: 1rem;
    gap: 50px;
    margin: 0px auto;
    padding-right: 20px;
    display: flex;
    } 
  

.footer-card{
     width: 20%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
}

.footer-title{
    margin-bottom: 20px;
}


}


